html {
  background-image: url("images/backgroundImage.avif");
  background-size: 1000%;
}

header{
  background-color: white;
  height:100px; 
}

.navigation{
  color: white;
  text-align: center;
  margin-top: 60px;
}

.name{
  padding-top: 30px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: black;  
}

.intro{
  font-size: 30px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;  
}

.coding-gif{
  width: 400px;
  height:250px;
}

/* read only is a pseudo class where viewers can only view the text */
.about:read-only{
  text-align: center;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  color: white;  
  padding-top: 40px;
}

.hobbies{
  text-align: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: white;  
  padding-top: 30px;
  padding-left: 200px;
  padding-right: 200px;
}

.Education{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: white;  
  padding-top: 30px;
  text-align: center;
}

.linkedin{
  width: 200px;
}

.gitHub{
  width: 200px;
}

.Location{
  font-size: 30px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white; 
  padding-bottom: 40px;
}

.educationImages{
  width:350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contact{
  padding-top: 50px;
  font-size: 30px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: black;  
}

.header{
  height:75px;
  margin-top: auto;
  margin-bottom: auto;
}


.profilePhoto{
  /* displays the profile photo as a circle and positions it to the center*/
  border-radius: 50% ;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

iframe{
  width: 600px;
  height: 500px;
}

footer{
  background-color: white;
}
